* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

.todo-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: rgb(27, 8, 27);
  color: white;
  z-index: 1;
}

.header-nav {
  max-width: 200px;
  width: 200px;
  display: flex;
  align-items: center;
}

.header-list {
  flex: 1;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.header-link {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.btn-logout {
  height: 100%;
  padding: 0 5px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.logo {
  font-size: 32px;
}

/* Home/Not found page*/

.home-section {
  padding-top: 150px;
}
.greeting-title,
.not-found-text {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.not-found-text {
  margin-bottom: 20px;
}

.greeting-title {
  font-size: 48px;
}

/* Dashboard */

.todo-container {
  padding-top: 100px;
  min-height: 100vh;
}

.todo-section {
  display: flex;
}

.form-container,
.todo-card {
  border: 2px solid rgb(204, 199, 199);
  border-radius: 12px;
  width: 500px;
  height: 300px;
  margin: 50px auto;
  padding: 20px;
}

.todo-card {
  margin-top: 150px;
}

.todo-form {
  display: flex;
  margin-top: 20px;
  height: 35px;
  width: 100%;
}

.input {
  width: 350px;
  height: 100%;
  -webkit-box-shadow: 0 0 5px #666;
  -moz-box-shadow: 0 0 5px #666;
  box-shadow: 0 0 5px #666;

  border: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  text-indent: 20px;
}

.input:focus,
.search-field:focus {
  outline: none;
}

.form-btn {
  width: 100px;
  height: 100%;
  padding: 0 25px;
  background-color: royalblue;
  color: white;
  border: none;
  -webkit-box-shadow: 0 0 5px #666;
  -moz-box-shadow: 0 0 5px #666;
  box-shadow: 0 0 5px #666;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.form-btn:hover {
  background-color: rgb(15, 15, 150);
}

.search-container {
  width: 50%;
  position: relative;
  margin-bottom: 25px;
}

.search-field {
  width: 100%;
  padding: 7px;
  border: none;
  -webkit-box-shadow: 0 0 5px #666;
  -moz-box-shadow: 0 0 5px #666;
  box-shadow: 0 0 5px #666;
  border-radius: 20px;
  text-indent: 15px;
}

.search-icon {
  position: absolute;
  top: 7px;
  right: 10px;
}

.search-select {
  padding: 5px;
  padding-left: 15px;
  padding-right: 30px;
  border: none;
  -webkit-box-shadow: 0 0 5px #666;
  -moz-box-shadow: 0 0 5px #666;
  box-shadow: 0 0 5px #666;
  border-radius: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.search-select::-ms-expand {
  display: none;
}
.search-select:focus {
  outline: none;
}

/* Sidebar */

.todo-sidebar {
  width: 30%;
  margin-right: 8px;
  height: calc(100vh - 200px);
  padding: 8px;
  overflow-y: scroll;
  border: 1px solid lightgrey;
}

/* Sidebar list*/

.todo-list {
  list-style-type: none;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(204, 199, 199);
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 8px;
}

.todo-title {
  width: 50%;
}

.btn-delete-item {
  height: 30px;
  padding: 0 10px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(19, 215, 237);
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  max-height: 40px;
}

.todo-item-statusbar {
  display: flex;
  align-items: center;
}

.todo-checkbox {
  margin-left: 8px;
}

.todo-item:hover {
  background-color: rgb(215, 223, 220);
}

.todo-details {
  text-align: center;
  margin-bottom: 20px;
}

.todo-title {
  padding: 5px;
}

.todo-status {
  margin-bottom: 20px;
}

.todo-created {
  margin-top: 20px;
}

.btn-back {
  display: block;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  margin: 0 auto;
}

.btn-back:hover {
  transform: scale(1.1);
}

/* Register / Login forms */

.user-form {
  border: 1px solid black;
  margin: 150px auto;
  max-width: 480px;
  padding: 20px;
  border-radius: 20px;
}

.input-container,
.input-label {
  margin-bottom: 10px;
}

.input-label {
  display: block;
}

.input-fields {
  width: 100%;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
}

.input-error {
  color: red;
}

.password-container {
  position: relative;
}

.icon-eye-open {
  position: absolute;
  top: 55px;
  right: 20px;
}

.input-fields:focus {
  outline: none;
}

.btn-submit {
  max-height: 50px;
  height: 50px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  background-color: royalblue;
  color: white;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.signup-text {
  margin-top: 15px;
  text-align: center;
}

.signup-link {
  margin-left: 10px;
  text-decoration: none;
  color: blue;
  font-weight: 600;
}

.btn-submit:hover {
  background-color: rgba(65, 105, 225, 0.7);
}

/* Search / filter  */

.search-filter {
  margin-top: 40px;
}

.search-select {
  margin-top: 20px;
}

/* Error page */

.main-error-page {
  padding-top: 200px;
}

/* Spinner */

.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 24px;
  height: 24px;
  margin: 0;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive */

@media screen and (max-width: 576px) {
  .form-container {
    text-align: center;
  }
  .todo-form {
    height: 80px;
    flex-direction: column;
  }

  .input {
    width: 100%;
    border-right: 1px solid rgb(179, 176, 176);
    border-radius: 20px;
    margin-bottom: 8px;
  }

  .form-btn {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .search-container {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .todo-section {
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    width: 100%;
    margin: 20px 0;
  }

  .form-btn {
    padding: 0 8px;
  }

  .todo-sidebar {
    width: 100%;
    padding: 0;
    overflow-y: hidden;
    margin-top: 50px;
    border: none;
  }
}

@media (min-width: 801px) and (max-width: 1220px) {
  .todo-item {
    flex-direction: column;
    align-items: center;
  }
  .btn-delete-item {
    padding: 5px 0;
    width: 50%;
  }
  .todo-title {
    width: 100%;
    text-align: center;
  }
}
